.DictionaryApp {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  font-style: mono space;
font-weight: bolder;
font-size: 25px;
}

.Dictionary{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  font-style: mono space;
font-weight: bolder;
font-size: 25px;
}

